@if (Request.IsAuthenticated) {
    <p>
        Hello, @User.Identity.Name!
        @Html.ActionLink("Log Off", "LogOff", "Account")
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Log on", "LogOn", "Account")</li>
    </ul>
}